
<ul id="mainTab" class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("index","InvestmentRecord")">Portfolio</a></li>
    <li><a href="@Url.Action("CreateTrade", "InvestmentRecord")">Add</a></li>
    <li><a href="@Url.Action("CashFlow","InvestmentRecord")">CashFlow</a></li>
    <li><a href="@Url.Action("CashFlowAngular","InvestmentRecord")">CashFlowAngular</a></li>
    <li><a href="@Url.Action("Reports","InvestmentRecord")">Reports</a></li>
</ul>

<div class="row investmentSummary">
    <div class="pull-left">
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><h3>@ViewBag.SummaryData.AccountName</h3></li>
                    <li>@ViewBag.SummaryData.ReportingCurrency</li>
                </ul>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>Unit Price</dt>
                    <dd>@ViewBag.SummaryData.ValuePerUnit</dd>
                    <dt>Net Asset Value</dt>
                    <dd>@ViewBag.SummaryData.NetAssets</dd>
                </dl>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>Bank Balance</dt>
                    <dd>@ViewBag.SummaryData.BankBalance</dd>
                    <dt>Latest PnL</dt>
                    <dd>@ViewBag.SummaryData.MonthlyPnL</dd>
                </dl>
            </li>

        </ul>
    </div>
    <div class="pull-right">
        @if (ViewBag.EnableBuildReport == true)
        {
            <a href="@Url.Action("BuildReport", "InvestmentRecord", new {target="_blank"})" class="btn btn-primary summaryButton">Build Report </a>
        }
        else
        {
            <a href="@Url.Action("BuildReport", "InvestmentRecord", new {target="_blank"})" class="btn btn-primary summaryButton disabled">Build Report </a>
        }
        
    </div>
</div>

@if (ViewBag.HasError == true)
{
    @Html.Partial("~/Views/InvestmentRecord/RaiseAlert.cshtml")
}
