@model InvestmentBuilderWeb.Models.TransactionModel

<h2>@ViewBag.Title</h2>

<div class="editor">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.TransactionDate)
            @Html.EditorFor(m => m.TransactionDate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.DropDownList("ParameterType", null, new
           {
               @class = "form-control",
               onchange = "javascript:asyncGetParameters()"
           })
        </div>

        <div class="form-group">
            <div id="parameters">
                @Html.LabelFor(m => m.Parameter)
                @Html.DropDownList("DummyParameters", null, new { @class= "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Amount)
            @Html.EditorFor(m => m.Amount, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="form-control" />
        </div>
        }
    </div>
