@model InvestmentBuilderWeb.Models.CashFlowModel
@{
    ViewBag.Title = "CashFlow";
}

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("index")">Portfolio</a></li>
    <li><a href="@Url.Action("CashFlow")">CashFlow</a></li>
    <li><a href="@Url.Action("Reports")">Reports</a></li>
</ul>

<div class="container">
    @Html.Partial("AccountSummary")
    <div class="row">
        <div class="navbar navbar-default">
            <a class="navbar-brand" href="#">Receipts</a>
            <ul class="nav navbar-nav navbar-right">
                <li><label class="navbar-text">Valuation Date: @Model.ValuationDate</label> </li>
                <li><label class="navbar-text">Total: @Model.ReceiptsTotal</label></li>
                <li>
                    <div id="addReceiptButton" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Receipt</div>
                </li>
            </ul>
        </div>
    </div>

    @Html.Partial("AddTransactionModal")

    <div class="row">
        <div class="panel panel-default">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Parameter</th>
                        <th>Subscription</th>
                        <th>Sale</th>
                        <th>Dividend</th>
                        <th>Other Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Receipts.Where(x => x.IsTotal == false))
                    {
                        <tr>
                            @Html.Partial("ReceiptCashFlowItem", item)
                        </tr>
                    }
                    @foreach (var item in Model.Receipts.Where(x => x.IsTotal == true))
                    {
                        <tr class="active cashTotal">
                            @Html.Partial("ReceiptCashFlowItem", item)
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row transactionSummary">
        <div class="pull-left">
            <h3>Payments</h3>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li><label class="navbar-text">Valuation Date: @Model.ValuationDate</label> </li>
                <li><label class="navbar-text">Total: @Model.PaymentsTotal</label></li>
                <li>
                    <div id="addPaymentButton" class="btn btn-default">Add Payment</div>
                    <div id="addTransaction" class="addTransaction" style="display:none"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Parameter</th>
                        <th>Withdrawls</th>
                        <th>Purchases</th>
                        <th>Other Payments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Payments.Where(x => x.IsTotal == false))
                    {
                        <tr>
                            @Html.Partial("PaymentCashFlowItem", item)
                        </tr>
                    }
                    @foreach (var item in Model.Payments.Where(x => x.IsTotal == true))
                    {
                        <tr class="active cashTotal">
                            @Html.Partial("PaymentCashFlowItem", item)
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

