@model InvestmentBuilderWeb.Models.TradeItemModel

<h2>Add Trade</h2>

<p/>
<div class="editor">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //<form role="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TransactionDate)
            @Html.TextBox("TransactionDate", DateTime.Today.ToShortDateString(), new
                   {
                       @class = "form-control datetime",
                       onclick = "javascript:onDisplayDateTimePicker()",
                       onchange = "javascript:onDisplayDateTimePicker()"
                   })


        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.EditorFor(m => m.Quantity, new { @class = "form-control" })
        </div>

        <input type="hidden" name="Action" value="BUY" />

        <div class="form-group">
            @Html.LabelFor(m => m.Symbol)
            @Html.EditorFor(m => m.Symbol, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Exchange)
            @Html.EditorFor(m => m.Exchange, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Currency)
            @Html.EditorFor(m => m.Currency, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ScalingFactor)
            @Html.EditorFor(m => m.ScalingFactor, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TotalCost)
            @Html.EditorFor(m => m.TotalCost, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ManualPrice)
            @Html.EditorFor(m => m.ManualPrice, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <a href="@Url.Action("Index", "InvestmentRecord")" class="btn btn-sm">Cancel</a>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    }
</div>
