@model InvestmentBuilderWeb.Models.TradeItemModel

<h2>@ViewBag.Title</h2>

<div class="editor">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //<form role="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @if (Model != null)
            {
                @Html.DisplayFor(m => m.Name)
            }
            else
            {
                @Html.EditorFor(m => m.Name)
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.EditorFor(m => m.Quantity, new { @class = "form-control" })
        </div>
        
             if (@Model != null)
             {
                <div class="form-group">
                    @Html.DropDownList("Action", (IEnumerable<SelectListItem>)ViewBag.Actions, new { @class = "form-control" });
                </div>
             }
             else
             {
                <input type="hidden" name="Action" value="BUY" />
        
                <div class="form-group">
                    @Html.LabelFor(m => m.Symbol)
                    @Html.EditorFor(m => m.Symbol, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Exchange)
                    @Html.EditorFor(m => m.Exchange, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Currency)
                    @Html.EditorFor(m => m.Currency, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ScalingFactor)
                    @Html.EditorFor(m => m.ScalingFactor, new { @class = "form-control" })
                </div>
             }

    <div class="form-group">
        @Html.LabelFor(m => m.TotalCost)
        @Html.EditorFor(m => m.TotalCost, new { @class = "form-control" })
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ManualPrice)
            @Html.EditorFor(m => m.ManualPrice, new { @class = "form-control" })
        </div>       
        <div class="form-group">
            <input type="submit" value="Execute" class="form-control" />
        </div>
        }
    </div>
