@model InvestmentBuilderWeb.Models.PaymentCashFlowModel

<td>
    @Html.DisplayFor(item => item.TransactionDate)
</td>
<td>
    @Html.DisplayFor(item => item.Parameter)
</td>
<td>
    @Html.DisplayFor(item => item.Withdrawls)
</td>
<td>
    @Html.DisplayFor(item => item.Purchases)
</td>
<td>
    @Html.DisplayFor(item => item.Other)
</td>
<td>
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("RemovePaymentTransaction", "InvestmentRecord", Model)" class="btn btn-sm">Delete</a></li>
    </ul>
</td>
