@model InvestmentBuilderWeb.Models.ReceiptCashFlowModel


<td>
    @Html.DisplayFor(item => item.TransactionDate)
</td>
<td>
    @Html.DisplayFor(item => item.Parameter)
</td>
<td>
    @Html.DisplayFor(item => item.Subscription)
</td>
<td>
    @Html.DisplayFor(item => item.Sale)
</td>
<td>
    @Html.DisplayFor(item => item.Dividend)
</td>
<td>
    @Html.DisplayFor(item => item.Other)
</td>
@if (Model.IsTotal == false)
{
<td>
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("RemoveReceiptTransaction", "InvestmentRecord", Model)" class="btn btn-sm">Delete</a></li>
    </ul>
</td>
}